:root{
	--rows: 0;
	--columns: 0;
}
body{
}
#lifes-bin{
	width: 20%;
}
#controlBar{

}
#buttonsBin{

}
#clearButton{

}
#pauseButton{

}
#nextButton{

}
#playButton{

}
#countersBin{

}
#countersLabel{

}
#counter{

}
.lifesTable{
	background-color:white; 
	aspect-ratio: var(--columns) / var(--rows);
	width:100%;
}
#newTable{

}
#oldTable{

}
.lifesCells{

}
[data-cell-state = "dead"]{
background-color: black; 
}

[data-cell-state = "alive"]{
background-color: #008000;
}
/* agregar el data-attribute data-cellState dead y alive
/* ====== */
/*table, td {

}
table {
	background-color:white; 
	aspect-ratio: var(--columns) / var(--rows);
	width:100%;
}*/

/*
td {
	height: 50px;
	width: 50px; 
}

.dead{
	background-color: black; 
}

.alive {
	background-color: #008000;
}

#controlBar
{
	display: inline-block;
	vertical-align: middle;
	align: center; 
}
#counter{
	color: green;
}

#lifes-bin{
	width: 20%
}*/