:root{
	--rows: 0;
	--columns: 0;
}

body{
	font-family:'Courier New', Courier, monospace ;
}

#lifes-bin{
	display:flex;
	flex-flow:column;
	align-items: center;
	justify-content: center;
	
}

#controlBar{
	margin-bottom: 15px;
	display: flex;
	width: 83vh;
}

#buttonsBin{
	display: flex;
	flex-grow: 7;
	font-family:'Courier New', Courier, monospace ;
}

.lifesButtons{
	flex:1;
	border-radius:20px;
	transition: .2s all;
}
.lifesButtons:active{
	transform: scale(0.9);
	background-color:#008450 ;
}
#clearButton{
	background-color:#03A062;
	border:none;
	color:white;
	font-size: 18px;
	border-right: solid;
	border-right-color:white; 
	font-family:'Courier New', Courier, monospace ;
}

#pauseButton{
	background-color:#03A062;
	border:none;
	color:white;
	font-size: 18px;
	border-right-style: solid;
	border-right-color:white ;
	font-family:'Courier New', Courier, monospace ;
}

#nextButton{
	background-color:#03A062;
	border:none;
	color:white;
	font-size: 18px;
	border-right-style: solid;
	border-right-color:white;
	font-family:'Courier New', Courier, monospace ;
}

#playButton{
	background-color: #03A062;
	border: none;
	color:white;
	font-size: 18px;
	font-family:'Courier New', Courier, monospace ;
}

#countersBin{
	font-size: 18px;
	flex-grow: 1;
	display:flex;
	align-content: center;
	justify-content: center;
}

#countersLabel{
}

#counter{
}

#tablesDiv{
	display:flex;
	flex-flow:column;
	width:85vh;
}

.lifesTable{
	aspect-ratio: var(--columns) / var(--rows);
}

#newTable{

}

#oldTable{
	
}

.lifesCells{
	border-radius: 50%;
	border-style:dashed;
	border-width: 1px;
}

[data-cell-state = "dead"]{
	background-color: white; 
}

[data-cell-state = "alive"]{
	background-color: #03A062;
}